@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* social media animation */

*,
*:after,
*:before {
    box-sizing: inherit;
}

.svg--source {
    display: none
}

.svg--icon {
    padding-top: 10px;
    width: 100%;
    max-width: 10rem;
    height: 100%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor
}


.share {
    width: 6rem;
    height: 6rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #ffffff;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
}

&:last-child {
    margin-right: 0
}

&:hover,
&:focus {
    background: white;
}

&:focus {
    outline-color: inherit;
}

.twitter {

    &:hover,
    &:focus {
        color: #00ACED;
        box-shadow: 0 0 24px 0 #00ACED;
        background-color: white;
    }
}

.facebook {

    &:hover,
    &:focus {
        color: #3b5998;
        box-shadow: 0 0 24px 0 #3b5998;
        background-color: white;
    }
}

.google {

    &:hover,
    &:focus {
        color: #dd4b39;
        box-shadow: 0 0 24px 0 #dd4b39;
        background-color: white;
    }
}


/* withdrawl page */

.main{
    margin-top: 90px;
	width: 1000px;
	height: 700px;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 20px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
    margin-top: 200px;
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
